[Desktop Entry]
Type=Application
Name=Deepin Desktop Shell
Comment=Deepin desktop shell service
Icon=dde-shell
Exec=/bin/false
TryExec=/bin/false
DBusActivatable=true
NoDisplay=true
Terminal=false
StartupNotify=false
Categories=System;
